#                                                 Assignment-1

### Basic Python

Q.1
Perform following operations on the given list.
List1 = [15,23,27,16,19,65,34]

In [1]:
# a) Sort the given list1 by ascending order?
List1=[15,23,27,16,19,65,34]
List1

[15, 23, 27, 16, 19, 65, 34]

In [2]:
List1.sort()
List1

[15, 16, 19, 23, 27, 34, 65]

In [3]:
# b) Sort the given list1 by descending order?
List1.sort(reverse=True)
List1

[65, 34, 27, 23, 19, 16, 15]

In [4]:
# c) Compute the minimum from list1?
min(List1)

15

In [5]:
# d) Compute the Maximum from list1?
max(List1)

65

In [6]:
# Q.2 Perform following operations on the given list.
List2 = [23221,36363,54433,43321,51658,56595]
List2

[23221, 36363, 54433, 43321, 51658, 56595]

In [7]:
# a) Compute the Length of list2?
len(List2)

6

In [8]:
# b) Extract elements from 2 to 4 indexes in list2?
print(List2[2:4])

[54433, 43321]

In [9]:
# c) Extract the last element from the list2?
n=len(List2)
List2[n-1]

56595

In [10]:
# d) Delete element of 3rd index from list2?
List2.pop(3)
print(List2)

[23221, 36363, 54433, 51658, 56595]

In [11]:
# Q.3 Perform following operations on the given list.
List3=['Mumbai','Chennai','Banglore','Pune','Hyderabad']
print(List3)

['Mumbai', 'Chennai', 'Banglore', 'Pune', 'Hyderabad']

In [12]:
# a) Replace Chennai by Mumbai in List3?
List3[0]=('Chennai')
List3[1]=('Mumbai')
print(List3)

['Chennai', 'Mumbai', 'Banglore', 'Pune', 'Hyderabad']

In [13]:
# b) Add ‘Delhi’ in list3 and print(list3)?
List3.append('Delhi')
print(List3)

['Chennai', 'Mumbai', 'Banglore', 'Pune', 'Hyderabad', 'Delhi']

In [14]:
# Q.4 Perform following operations on the given list.
List4= [1,2,3,1,5,2,6,5] 
print(List4)

[1, 2, 3, 1, 5, 2, 6, 5]

In [15]:
# a) How much time element “1” repeats in list4?
print(List4.count(1))

2

In [16]:
# b) Delete ‘6’ element from list4?
List4.remove(6)
print(List4)

[1, 2, 3, 1, 5, 2, 5]

In [17]:
# Alternative Way
List4.pop(6)
print(List4)

[1, 2, 3, 1, 5, 2]

In [18]:
# Q.5 Using while loop print first 15 Natural numbers?
i=1
while i<16:
    print (i)
    i=i+1

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15

In [19]:
# Q.6 List1 = [40,50,60,70,80,90] print above list in reverse order using a loop?
List1=[40,50,60,70,80,90]
i=5
new=[]
while i>=0:
    new.insert(List1[i],List1[-1])
    List1.pop(-1)
    i=i-1      
print(new)

[90, 80, 70, 60, 50, 40]

In [20]:
# By Using For Loop
listf=[40,50,60,70,80,90]
new_list=[]
for i in range(len(listf)):
    new_list.insert(i,listf[-1])
    listf.pop(-1)
print(new_list)

[90, 80, 70, 60, 50, 40]

In [21]:
#Q.7 Write a python program to count the total number of digits in a number using a while loop?
dig=4563
count=0
while dig!=0:
    dig//=10
    count+=1
print("Total Number of Digits :" + str(count))

Total Number of Digits :4

In [22]:
# Q.8 Write a code to display only those numbers from given list that satisfy the following conditions.
# a) The number must be divisible by five
# b) If the number is greater than 500, then stop the loop

numbers = [45, 32, 140, 170, 352, 425, 45]
n1=[]
for i in numbers:
    if i%5==0:
        n1.append(i)
        if i>500:
            break
print(n1)

[45, 140, 170, 425, 45]

In [23]:
# Q.9 Write a python code to display numbers from -10 to -1 using for loop?
for i in range (-10,0):
    print(i)

-10
-9
-8
-7
-6
-5
-4
-3
-2
-1

In [24]:
# Q.10 Use a loop to display elements from a given list present at odd index positions.
List_1 = [11, 22, 33, 44, 55, 66, 77, 88, 99, 110]
print ("The elements in odd position are : ")
for i in range (1,len(List_1),2):
    print(List_1[i])

The elements in odd position are :
22
44
66
88
110